@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online Shop</h1>
    <p class="lead">Welcome to our online shop! Be sure to browse through our products!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            In our online shop you can browse through a wide variety of products.
        </p>
        <p><a class="btn btn-default" href="~/Product">To Our Products &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Your Cart</h2>
        <p>We provide you with a virtual cart to store your items of interest before you make a purchase.</p>
        <p><a class="btn btn-default" href="~/Cart">Manage Your Cart &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Help And Feedback</h2>
        <p>Our team will be happy to help you with anything, or learn about your opinion of the site.</p>
        <p><a class="btn btn-default" href="~/Home/Contact">Contact Us &raquo;</a></p>
    </div>
</div>